<% layout("/layouts/boilerplate")%>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <br />
      <h3>Create a New Listing</h3>
      <form
        action="/listings"
        method="post"
        novalidate
        class="needs-validation"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            name="listing[title]"
            placeholder="Enter Catchy title here...."
            type="text"
            class="form-control"
            required
          />
          <div class="valid-feedback">Looks Great!</div>
          <div class="invalid-feedback">Something is Off !?</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="listing[description]"
            placeholder="Enter description about your property...."
            type="text"
            class="form-control"
            required
          ></textarea>
          <div class="valid-feedback">Looks Great!</div>
          <div class="invalid-feedback">Something is Off !?</div>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Image</label>
          <input
            name="listing[image]"
            placeholder="Enter your IMG URL/Link...."
            type="text"
            class="form-control"
          />
          <div class="valid-feedback">We'll Add default Link ♥</div>
          <div class="invalid-feedback">Something is Off !?</div>
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              name="listing[price]"
              placeholder="1200"
              type="number"
              class="form-control"
              required
            />
            <div class="valid-feedback">Looks Great!</div>
            <div class="invalid-feedback">Something is Off !?</div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              name="listing[country]"
              placeholder="India"
              type="text"
              class="form-control"
              required
            />
            <div class="valid-feedback">Looks Great!</div>
            <div class="invalid-feedback">Something is Off !?</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            name="listing[location]"
            placeholder="Goa"
            type="text"
            class="form-control"
            required
          />
          <div class="valid-feedback">Looks Great!</div>
          <div class="invalid-feedback">Something is Off !?</div>
        </div>
        <button class="btn btn-dark add-btn">Submit</button>
        <br />
      </form>
    </div>
  </div>
</body>
